@mixin special
    color: red
    background-color: yellow
    padding: 10px
    border: 4px solid red

    &:hover
        border-color: blue
        color: blue
        background-color: lightblue

@mixin green
    border-color: green
    color: green

@mixin espacamento($p, $m)
    padding: $p
    margin: $m

@mixin custom-border($style, $color, $width: 1px)
    border: $width $style $color

@mixin colors($font: black, $background: white)
    color: $font
    background-color: $background