@charset "UTF-8"
    
@import 'variables'
@import 'button'
@import 'mixins'
@import 'plugins'
@import 'functions'

body
    margin: 20px

.p-esp
    @include special

h2
    @include special
    @include green

.esp-menor
    @include espacamento(10px, 10px)
    @include custom-border(solid, red)
    @include colors
    @extend %font-pattern

.esp-medio
    @include espacamento(20px, 20px)
    @include custom-border(dotted, blue, 2px)
    @include colors($background: #369, $font: #991155)
    @extend %font-pattern

.esp-maior
    @include espacamento(30px, 30px) 
    @include custom-border(solid, green, 4px)
    @include colors($font: red)
    @extend %font-pattern

.esp-maior-ainda
    $pad: 50px
    $mag: 50px
    @include espacamento($pad, $mag) 
    @include custom-border(double, gold, 8px)
    @include colors($font: gold)
    @extend %font-pattern

$medida: 4

.container-menor
    width: 100px
    border: custom-border-function()

.container-maior
    border: custom-border-function(2)
    width: 15rem * ($medida + 5)

.fonte-pequena
    font-size: 5px
    color: text-color(5)
    border: custom-border-function(3)

.fonte-grande
    font-size: 20px
    color: text-color(20)
    border: custom-border-function(1)

.teste-1
    width: custom-width()
    background-color: red

.teste-2
    width: custom-width($width: 1000px)
    background-color: green

.teste-3
    width: custom-width($division: 5)
    padding: 20px
    background-color: calc-func(6, 10)

$fonts: 40px, 60px, 100px

@each $font in $fonts
    .title-#{$font}
        font-size: $font
        line-height: $font * 1.2

@for $i from 1 through 3
    .p-#{$i}
        @if $i == 1
            color: lightblue
        @else if $i == 2
            color: lightgreen
        @else if $i == 3
            color: teal
        background-color: black