@use 'sass:map'
    
$a: 10

@debug $a
@debug $a + 10px

$str: "Roboto"
$str2: Roboto

@debug $str == $str2

$nome-da-fonte: "Open"
$var1: "Sans"
$var2: "Teste"

@debug $nome-da-fonte + " " + $var1

p
    font-family: $nome-da-fonte + " " + $var1

h1
    font-family: "#{$nome-da-fonte} #{$var2}"

@debug #fff
@debug blue
@debug rgb(201, 50, 12)
@debug rgba(201, 50, 12, 0.5)
@debug hsl(34, 30%, 27%)

$list: 10, 20, 30

@each $value in $list
    @debug $value / 2

@each $font in $list
    .p-#{$font}
        font-size: $font + "px"

$font-weights: ("regular": 400, "bold": 700, "black": 900)

h3
    font-weight: map.get($font-weights, "black")

@debug "Helvetica" == Helvetica