@use 'sass:color'
@use 'sass:list'
@use 'sass:map'
@use 'sass:math'
@use 'sass:meta'

$color-adjust: color.adjust(#6b717f, $red: 25)
$color-adjust2: color.adjust(#6b717f, $red: 25, $blue: 100)

.color-1
    color: $color-adjust
    background-color: $color-adjust2

@debug color.blue($color-adjust)
@debug color.blue($color-adjust2)

$color-scale: color.scale($color-adjust2, $lightness: -40%)
$color-scale2: color.scale($color-adjust2, $lightness: 40%)

.color-2
    background-color: $color-scale

.color-3
    background-color: $color-scale2

.color-4
    background-color: color.invert($color-scale2)

.color-5
    background-color: color.mix(blue, red)

.color-6
    background-color: desaturate(#234346, 60%)

.color-7
    background-color: #234346

    &:hover
        background-color: lighten(#234346, 10%)

$lista: 10px, 20px, 30px

@debug $lista

$lista: list.append($lista, 40px)

@debug $lista 

@debug list.index($lista, 20px)
@debug list.index($lista, 50px)

$lista2: 60px, 70px, 80px, 90px, 100px

$lista3: list.join($lista, $lista2)

@debug $lista3

@debug list.length($lista3)

@debug list.nth($lista3, 5)

$font-size-title: list.nth($lista3, 5)


h1
    font-size: $font-size-title


$m: ('font': 3px, 'color': blue, 'bold': false)
$n: ('border': 2px solid red, 'transition': 1s)

$x: map.merge($m, $n)

$border-title: map.get($n, 'border')

h1
    border: $border-title

@debug map.has-key($x, 'transition')
@debug map.has-key($x, 'teste')


$pi: math.$pi

$z: 3.5

@debug math.ceil($z)
@debug math.floor($z)

@debug math.ceil($pi)

$a: 1, 2, 3, 4, 5, 12

@debug math.max($a...)
@debug math.min($a...)

@debug math.random()

@debug math.floor(math.random() * 10)

$pixel: math.floor(math.random() * 70) + 'px'

@debug $pixel

h2
    font-size: $pixel


