/* Error: There is no module with the namespace "layout-mixins".
 *   ,
 * 5 |     @include layout-mixins.center-content
 *   |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   sass\2-layouts\_products-section.sass 5:5  @use
 *   sass\2-layouts\layouts.sass 4:1            @use
 *   sass\app.sass 3:1                          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "layout-mixins".\a   \2577 \a 5 \2502      @include layout-mixins.center-content\d\a   \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   sass\\2-layouts\\_products-section.sass 5:5  @use\a   sass\\2-layouts\\layouts.sass 4:1            @use\a   sass\\app.sass 3:1                          root stylesheet';
}
